<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.devst.dao.BoardDao">
	<insert id="doWrite">
		INSERT INTO t_board ( title, content, category, hashtag, board_img) VALUES ( #{title}, #{content}, #{category}, #{hashtag}, #{board_img});
	</insert>
	
	<select id="getBoardListAll" resultType="kr.co.devst.model.BoardVO">
		SELECT * FROM t_board;
	</select>
	
	<select id="getBoardStudyList" resultType="kr.co.devst.model.BoardVO" parameterType="hashMap"><!--스터디구인게시물  -->
		<!-- SELECT * FROM t_board where category='스터디구인' order by board_pk desc limit #{start}, #{num}; -->
		SELECT  A.nick,A.name, B.*
		FROM t_user as A
		inner join t_board as B
		ON A.user_pk = B.user_pk
		WHERE B.category = '스터디구인'
		ORDER BY B.board_pk DESC
		LIMIT #{start}, #{num};
	</select>
	
	<select id="getBoardNomalList" resultType="kr.co.devst.model.BoardVO" parameterType="hashMap"><!--일반게시물  -->
		SELECT  A.nick,A.name, B.*
		FROM t_user as A
		inner join t_board as B
		ON A.user_pk = B.user_pk
		WHERE B.category = '일반'
		ORDER BY B.board_pk DESC
		LIMIT #{start}, #{num};
	</select>
</mapper>